:root {
    --background-color: #0c0018;
    --light-blue: #b9e0fe;
    --dark-blue: #59baff;
    --light-yellow: #FFFFEE;
    --dark-yellow: #feffbf;
}

body {
    padding: 0;
    margin: 0;
    background: var(--background-color);
    height: 100vh;
}

ul {
    margin: 0;
}

p {
    margin: 0;
}

button {
    background-color: var(--background-color);
    border: none;
    padding: 0;
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    color: var(--light-blue);
}

button:focus {
    outline: none;
}

button:hover {
    cursor: pointer;
}

.header {
    position: absolute;
    right: 0;
    margin: 0;
    /* font-family: futura-pt-bold, sans-serif; */
    font-family: futura-pt, sans-serif;
    font-weight: 800;
    font-style: normal;
    color: var(--light-blue);
    text-shadow: 0 0 20px var(--dark-blue);
    padding: 0 5px;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    width: 100vw;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
}

.project-container {
    display: block;
}

.project-list {
    list-style: none;
    padding: 0;
}

.wavy-description {
    padding-bottom: 10vh;
}

.project__btn-wrapper {
    display: flex;
    align-items: flex-end;
}

.project__btn-wrapper ul {
    opacity: 0;
    transform: translate(-20px, 0);
    transition: transform 0.4s ease-in-out, opacity 0.4s linear;
    color: #FFFFEE;
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
}

.project__btn-wrapper ul {
    display: none;
}

.project__btn-wrapper ul:hover {
    cursor: pointer;
}

.project-title {
    border-bottom: 1px solid;
    text-shadow: 0 0 10px var(--dark-blue), 0.5px 0 0 var(--dark-blue), -0.5px 0 0 var(--dark-blue);
    transition: all 0.25s ease-in-out;
}

.project-description {
    height: 0;
    font-family: proxima nova, sans-serif;
    font-weight: 400;
    transition: all 0.25s ease-in-out;
    overflow: hidden;
    color: var(--light-yellow);
    max-width: 40vw;
}

.preview-container {
    display: none;
}

video {
    max-height: 450px;
    max-width: 500px;
}

.links-container {
    display: flex;
    justify-content: flex-end;
}

.links-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.links-item {
    text-align: right;
}

.links-title {
    text-shadow: 0 0 10px var(--dark-blue), 0.5px 0 0 var(--dark-blue), -0.5px 0 0 var(--dark-blue);
    border-bottom: 1px solid;
    transition: all 0.25s ease-in-out;
}